
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

header.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 15px 22px;

  div.logo-container {
    width: 140px;
  }

  div.phone-number-container {
    -ms-flex-align: center;
    -ms-transform: translateY(-50%);
    -webkit-box-align: center;
    -webkit-transform: translateY(-50%);
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    right: 20px;
    top: 6%;
    transform: translateY(-50%);
    width: 20px;
  }


  svg.phone-number-icon {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: #aaa;
    transform: rotate(90deg);
    fill: currentColor;
    stroke: currentColor;
  }

}

section.houses-section {

  div.section-header-container {
    h1.section-header {
      color: #343434;
      text-align: center;
    }

    h1.section-header span:after {
      content: '.';
    }

    @media #{$tablet} {
      h1.section-header span {
        display: block;
      }
      h1.section-header span:after {
        content: 'an der von uns angebotenen Immobile.';
      }
    }


    @media #{$desktop} {
      h1.section-header span {
        display: block;
      }
      h1.section-header span:after {
        content: 'an der von uns angebotenen Immobile.';
      }
    }

    div.section-subheader {
      color: #7d7d7d;
      text-align: center;
      word-break: break-word;
      width: 50%;
      margin: 0px auto;
    }
  }

  @media #{$desktop} {
    div.housing-list-container {
      margin: 43px;
      border: 1px solid lightgrey;
    }
  }

  div.housing-list-container {

    div.housing-list {
        display: flex;
        flex-direction: column;
        justify-content: center;

      div.house-information {
        display: flex;
        flex-direction: column;
        margin: 30px;

        .house-image-container img.house-image {
            width: 100%;
        }

        @media #{$tablet} {
          .house-image-container {
            display: inline-block;
            width: 43%;
          }
          .house-image-container img.house-image {
            width: 70%;
          }
        }

        @media #{$desktop} {
          .house-image-container {
            display: inline-block;
            width: 43%;
          }
          .house-image-container img.house-image {
            width: 70%;
          }
        }

        div.house-detail-container div  {
          padding : 5px 0px;
        }
       div.house-detail-container div div:first-child {
         color: #7d7d7d;
         font-weight: bold;
       }

        div.house-detail-container div div:last-child {
          color: #535353;
          font-weight: bold;
        }

      }

      @media #{$tablet} {
      div.house-information {
        flex-direction: row;
       }
      }

      @media #{$desktop} {
        div.house-information {
          flex-direction: row;
        }
      }

      div.download-expose-button-container {

        margin: 0 auto;

        span.download-expose-button {
          color: #ffffff;
          font-weight: bold;
          background-color: #ffbb00;
          padding: 10px 20px;
          display: inline-block;
          text-align: center;
          box-shadow: 0px 1px 2px #535353;
        }

      }



      @media #{$tablet} {
        div.download-expose-button-container {
          margin: 10px 30px;
        }

        div.checkbox-container {
          padding: 10px 50px;
        }
      }

      @media #{$desktop} {
        div.download-expose-button-container {
          margin: 10px 30px;
        }

        div.checkbox-container {
          padding: 10px 50px;
        }
      }
    }


    div.house-list-conatiner {

      display: flex;
      flex-direction: row;
      border-top: 1px solid #e6e6e6;
      padding: 10px 20px;
      justify-content: space-between;

      div.checkbox-with-detail-container {
         display: flex;
         flex-direction: row;
         align-items: center;
         .checkbox-wrapper {
           margin-right: 10px;
         }
         .address-details-container {
           display: flex;
           flex-direction: column;

           div:first-child {
             font-size: 16px;
             font-weight: bold;
             color: #000000d1;
           }
           div:last-child {
             font-size: 12px;
             color: #535353;
           }


           div.long-text span:after {
             content: '...';
           }

           @media  #{$tablet} {

             div.long-text span:after {
               content: ' Ground Plot, Entry in the land register';
             }
           }

           @media  #{$desktop} {

             div.long-text span:after {
               content: ' Ground Plot, Entry in the land register';
             }
           }

         }

        .file-type-container {
          display: none;
        }

        @media  #{$tablet} {

           .file-type-container {
             display: block;
             padding-right: 5px;
           }
        }

        @media  #{$desktop} {

          .file-type-container {
            display: block;
            padding-right: 5px;
          }
        }


       }

      div.watch-and-download-container {
          display: flex;
          flex-direction: row;

        div.watch , div.download {
          padding: 0px 5px;
        }
      }

    }

    @media only screen and (min-width: 1023px) {
      div.housing-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
      }
    }
  }


}

div#checkbox-container {
  padding: 10px 20px;
  color: grey;
}



